@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;1,200&display=swap");

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30vw;
  height: 100vh;
  font-family: "Titillium Web", sans-serif;
  background-image: linear-gradient(to right, #ff5f6d, #ffc371);  background-color: #ffffff;

  /* position: fixed;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 6px;
  border-image-source: linear-gradient(to right, #ff5f6d, #ffc371); */
}

li a {
  text-align: left;
  display: block;
  /* background-image: linear-gradient(to right,#ff5f6d, #ffc371); */
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  font-size: 2rem;
}

li a:hover {
  background-image: linear-gradient(to right,#e44956, #eea949);
  color: white;
}

/* button {
  width: 400px;
  outline: none;
  font-family: "Titillium Web", sans-serif;
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  font-size: 2rem;
  background-color: #676767;
}

button:hover {
  background-color: #ffc371;
  color: white;
  font-size: ;
} */

/* Change the link color on hover */


img {
  height: 50px;
  width: 270px;
  position: relative;
  bottom: -10px;
}

