@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;1,200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20vw;
  height: 100vh;
  font-family: "Titillium Web", sans-serif;
  background: linear-gradient(-45deg, #272626, #4f5050, #060606);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  /* background-color: #ffffff; */

  /* position: fixed;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 6px;
  border-image-source: linear-gradient(to right, #ff5f6d, #ffc371); */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

li a {
  text-align: left;
  display: block;
  /* background-color: #3c3e3f; */
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  font-size: 2rem;
}

li a:hover {
  background-color: #636668;
  color: white;
}

/* button {
  width: 400px;
  outline: none;
  font-family: "Titillium Web", sans-serif;
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  font-size: 2rem;
  background-color: #676767;
}

button:hover {
  background-color: #ffc371;
  color: white;
  font-size: ;
} */

/* Change the link color on hover */

img {
  position: absolute;
  bottom: 14px;
  left: 11px;
  max-width: 18vw;
  margin: 0 auto;
}
