@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;1,200&display=swap");

div {
  font-family: "Titillium Web", sans-serif !important;
}

button {
  font-family: "Titillium Web", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; } 


/* 
  @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;1,200&display=swap");

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 378px;
    height: 100vh;
    background-image: linear-gradient(to right, #ff5f6d, #ffc371);  background-color: #ffffff; */
