@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;1,200&display=swap');

.calendar {
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 378px;
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  position: fixed;
  bottom: 0;
  left: 0;
}

.calendar .header {
  background-image: linear-gradient(to right, #FF5F6D , #FFC371);
  text-align: center;
  min-height: 2rem;
  line-height: 2rem;
  color: white;
  font-weight: 700;
  display: flex;
}

.calendar .day-names {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}

.calendar .body {
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, #FF5F6D , #FFC371);
  padding: 0px;
}

.calendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}

.calendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

.calendar .week {
  background-color: white;
  width: calc(100% / 7);
  height: 44px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 400;
}
.calendar .week div {
  width: 100%;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 44px;
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.calendar .day div {
  width: 54px;
  height: 44px;
  position: relative;
  color: var(--black);
  z-index: 100;
  line-height: 44px;
}

.calendar .day div.before {
  color: var(--grey);
}

.calendar .day div.selected {
  background:#FFC371;
  color: white;
  font-weight:bolder;
  /* border-radius: 50%;
  width: 40px;
  height: 40px;
  margin:auto; */
}

.calendar .day div.today {
  background-color: #FFC371;
  color: white;
}

.calendar .day div.vacationDay {
  background-color: #FF5F6D;
  color: white;
}


/* @keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }
}

div {
  margin: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color:white;
  font-weight:bold;
  font-family: Arial;
  background: rgba(0,0,255,0.75);
  border-radius: 50%;
  animation: radial-pulse 1s infinite;
} */