@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;1,200&display=swap");

/* .weeklyweeklyCalendar { // old styling
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 1000px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Titillium Web', sans-serif;
  font-style: bold;
} */

.weeklyCalendar {
  box-sizing: border-box;
  font-size: 1rem;
  width: 80vw;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  position: fixed;
  top: 0;
  right: 0;
}

.weeklyCalendar .header {
  background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  text-align: center;
  min-height: 2rem;
  line-height: 2rem;
  color: white;
  font-weight: 700;
  display: flex;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.weeklyCalendar .day-info {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  align-items: center;
  text-align: left;
}

.weeklyCalendar .dayInfo {
  /* background-color: red; */
}

.weeklyCalendar .body {
  padding: 1rem;
  position: relative;
  background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding: 0px;
}

.weeklyCalendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}

.weeklyCalendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

.weeklyCalendar .week {
  background-color: #dee0e7;
  width: calc(100% / 7);
  height: 44px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.weeklyCalendar .week div {
  width: 100%;
}

.weeklyCalendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 44px;
  display: inline-block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.weeklyCalendar .day div {
  width: 100%;
  height: 50vh;
  position: relative;
  color: var(--black);
  z-index: 100;
  line-height: 44px;
}

.weeklyCalendar .day div.before {
  width: 100%;
  height: 44px;
  position: relative;
  z-index: 100;
  line-height: 44px;
  color: var(--grey);
  background-color: white;
}

/* .weeklyCalendar .day div.selected {
  width: 100%;
  height: 44px;
  z-index: 100;
  background-color: #23d5ab;
  position: relative;

  color: white;
  font-weight: bolder; */
  /* border-radius: 50%;
  width: 40px;
  height: 40px;
  margin:auto; */

.weeklyCalendar .day div.today {
  width: 100%;
  height: 44px;
  position: relative;
  color: var(--black);
  z-index: 100;
  color: white;
}

.weeklyCalendar .day div.normal {
  width: 100%;
  height: 44px;
  position: relative;
  color: var(--black);
  z-index: 100;
  background-color: white;
  color: var(--black);
}

.weeklyCalendar .day div.vacationDay {
  width: 100%;
  height: 44px;
  position: relative;
  color: var(--black);
  z-index: 100;
  color: white;
}