@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;1,200&display=swap');

/* .weeklyCalendar { // old styling
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 1000px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Titillium Web', sans-serif;
  font-style: bold;
} */

.weeklyCalendar {
  margin: 0;
  position:fixed;
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  width: 70vw;
  top: 0;
  right: 0;
  position: fixed;
  transform: translateX(0%);


  
  /* box-sizing: border-box;
  font-size: 1rem;
  max-width: 400px;
  position:relative;
  font-family: 'Titillium Web', sans-serif;
  font-style: normal; */
}

.weeklyCalendar .header {
  background-image: linear-gradient(to right, #FF5F6D , #FFC371);
  text-align: center;
  min-height: 2rem;
  line-height: 2rem;
  color: white;
  font-weight: 700;
  display: flex;
}

.weeklyCalendar .day-names {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: relative;
  margin: 0 auto;
  align-items: center;
}

.weeklyCalendar .body {
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, #FF5F6D , #FFC371);
  padding: 3px;
}

.weeklyCalendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}

.weeklyCalendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

.weeklyCalendar .week {
  background-color: white;
  width: calc(100% / 7);
  height: px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 400;
}

.weeklyCalendar .week div {
  width: 100%;
}

.weeklyCalendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 120px;
  display: inline-block;
  background-color:white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}

.weeklyCalendar .day div {
  height: 44px;
  position: relative;
  color: var(--black);
  z-index: 100;
  line-height: 44px;
  align-items: center;
}

.weeklyCalendar .dayInfo {
  position: relative;
  width: calc(100% / 7);
  height: 44px;
  display: inline-block;
  background-color:white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  position: relative;

}

.weeklyCalendar .dayInfo div {
  height: 44px;
  position: relative;
  color: var(--black);
  z-index: 100;
  line-height: 44px;
  align-items: center;
}

/* .weeklyCalendar .day-names {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
} */

.weeklyCalendar .day div.before {
  color: var(--grey);
}

.weeklyCalendar .day div.selected {
  background: #FFC371;
  color: white;
  font-weight: bold;
}

.weeklyCalendar .day div.today {
  background-color: #FFC371;
  color: white;
}

.weeklyCalendar .day div.vacationDay {
  background-color: #FF5F6D;
  color: white;
}