@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;1,200&display=swap');


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 100vh;  
  font-family: 'Titillium Web', sans-serif;
  background-color :#676767;
  position:fixed;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  font-size: 2rem;
}

/* Change the link color on hover */
li a:hover {
  background-color: #FFC371;
  color: white;
  font-size:;
}

img {
  height: 50px;
  width: 270px;
  position:relative;
  bottom: -10px;
}